// color
$primary: #03a9f4;
$accent: #2c3e50;
$warn: #ff8542;
$ui-yellow: #edb908;
$error: #ff5342;
$success: #55c9b0;

$white: #fff;
$fe: #fefefe;
$fa: #fafafa;
$f6: #f6f6f6;
$f0: #f0f0f0;

$a: #aaa;
$b: #bbb;
$c: #ccc;
$d: #ddd;
$e: #eee;

// height
$headerHeight: 60px;

// width
$navWidth: 200px;
$appMinWidth: 1200px;

//border
$lightBorder: 1px solid #F0F0F0;
$blackBorber: 1px solid #C3C3C3;

// box-shadow
$blackShadow: 0 0 0 2px #C3C3C3;
